.design-texto {
  margin: 0px;
  text-align: center;
  text-align: left;
  margin: 0 auto;
  max-width: 1000px;
}

.design-texto h2 {
  font-size: 60px;
  font-weight: 200;
}

.design-texto p {
  top: -16px;
  position: relative;
  color: #4c4c4c;
}

.design-img img {
  max-width: 100%;
  align-items: center;
  margin: auto;
  width: 100%;
  display: block;
}

/* .interior-bg {
  background: #141414;
  text-align: center;
  padding: 100px;
  margin-top: -20px;
}

.interior-texto p {
  color: #e7e7e7;
  text-align: left;
}

.interior-texto h2 {
  color: #f7f7f7;
  font-size: 60px;
} */

.porta-malas-texto {
  color: #e7e7e7;
  padding: 30px;
  text-align: left;
  margin: 0 auto;
  max-width: 1000px;
}

.porta-malas-texto h2 {
  color: #f7f7f7;
  font-size: 60px;
  font-weight: 200;
}

.suspensao-texto {
  color: #e7e7e7;
  padding: 100px;
  text-align: left;
  margin: 0 auto;
  max-width: 1000px;
}

.suspensao-texto h2 {
  color: #f7f7f7;
  font-size: 60px;
}

.suspensao-bg {
  background-color: #141414;
}

/* .container-interior {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #141414;
}

.interior {
  color: #e7e7e7;
  font-weight: 200;
  margin: 30px;
  position: relative;
}

.interior-img img {
  max-width: 100%;
} */

.disponibilidade {
  background-color: #ffffff;
  margin: 30px;
  font-size: 14px;
}

@media (max-width: 900px) {
  .design-texto h2 {
    font-size: 50px;
    align-items: center;
  }
  .design-img {
    margin: auto;
    display: block;
  }
  /* .container-interior {
    grid-template-columns: none;
  } */
}

@media (max-width: 750px) {
  .design-texto h2 {
    font-size: 40px;
    text-align: start;
    padding: 30px;
  }
  .design-texto p {
    padding: 30px;
    text-align: left;
    top: -50px;
  }
  .porta-malas-texto h2 {
    font-size: 40px;
  }
  .suspensao-texto {
    padding: 30px;
  }
  .suspensao-texto h2 {
    font-size: 40px;
    font-weight: 200;
  }
  /* .interior-bg {
    padding: 30px;
    text-align: start;
  }
  .interior-texto h2 {
    font-size: 40px;
    font-weight: 200;
  } */
}
