body {
  font-family: arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  overflow-y: hidden;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
}

.modelos-container {
  margin: 5% auto;
  max-width: 1300px;
}

.modelos-text h1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 200;
}

.modelos-container section {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.filtro-modelos p {
  display: flex;
  justify-content: start;
  margin-left: 4.5vh;
  font-size: 1.2rem;
  color: #f2f2f2;
  cursor: pointer;
}

.filtro-modelos.ativo p {
  margin-left: 7.2vh;
}

.filtro-modelos {
  background-color: #000;
}

.filtro-modelos section::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url('../../img/icones/seta-abrir.svg');
  transition: 0.3s;
  cursor: pointer;
  transform: rotate(180deg);
}

.filtro-modelos.ativo section::after {
  transform: rotate(0);
}

.filtro-modelos.ativo {
  position: fixed;
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 0);
  top: 0;
  left: 0;
  overflow-y: auto;
}

@media (max-width: 1300px) {
  .modelos-container {
    transition: 0.3s;
    max-width: 1000px;
  }
  .modelos-text h1 {
    font-size: 2.5rem;
    margin-left: 30px;
  }
}
