.motor {
  margin: 0px;
  padding: 30px;
  text-align: left;
}

.motor-texto {
  text-align: left;
  margin: 0 auto;
  max-width: 1000px;
}

.motor h2 {
  font-size: 60px;
  font-weight: 400;
}

.motor p {
  position: relative;
  top: -20px;
  color: #4c4c4c;
}
.motor-paragrafo {
  margin: 30px;
}

.motor-p {
  color: #4c4c4c;
}

.motor-img img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.song-container {
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;
}

.song-container h1 {
  font-size: 45px;
  position: relative;
  bottom: -7rem;
  text-align: center;
}

.play-song {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.play-song img {
  width: 50px;
  background-repeat: no-repeat;
  margin: 10px;
}

.play {
  cursor: pointer;
}

.play-song p {
  margin-right: 10px;
}

.play-song span {
  padding: 10px;
}

@media (max-width: 1200px) {
  .motor {
    padding: 30px;
  }
}

@media (max-width: 800px) {
  .motor h2 {
    font-size: 44px;
  }
  .motor {
    width: auto;
    padding: 30px;
  }
}
