.motor {
  margin: 0px;
  padding: 30px;
  text-align: left;
}

.motor-texto {
  text-align: left;
  margin: 0 auto;
  max-width: 1000px;
}

.motor h2 {
  font-size: 60px;
  font-weight: 200;
}

.motor p {
  position: relative;
  top: -20px;
  color: #4c4c4c;
}
.motor-paragrafo {
  margin: 30px;
}

.motor-p {
  color: #4c4c4c;
}

.motor-img img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .motor {
    padding: 30px;
  }
}

@media (max-width: 800px) {
  .motor h2 {
    font-size: 44px;
  }
  .motor {
    width: auto;
    padding: 30px;
  }
}
