.img-text img {
  position: relative;
  bottom: -90px;
  left: -70px;
}

.img-svg {
  position: absolute;
}

.informacoes-container {
  position: relative;
  width: 400px;
  max-width: 300px;
  height: 400px;
  background-color: #fff;
  transition: height 0.3s ease;
  left: -28vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modelos-grupo {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 10px;
}

.informacoes-img {
  position: absolute;
  bottom: 0;
  margin-bottom: 90px;
}

.botao-informacao {
  position: absolute;
  text-align: center;
  border: 1px solid;
  display: block;
  padding: 15px;
  margin: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.informacoes-titulo {
  padding: -0px 20px;
  font-size: 1rem;
  font-weight: 700;
}

.botao-informacao a {
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  cursor: pointer;
}

.botao-informacao :hover {
  color: #505050;
}

.name-modelo {
  font-weight: 600;
}

.versao-modelo {
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 1300px) {
  .img-text img {
    max-width: 600px;
  }
  .img-svg {
    width: 400px;
  }
  .informacoes-container {
    width: 27vh;
  }
}

@media (max-width: 900px) {
  .img-text img {
    max-width: 600px;
  }
  .img-svg {
    max-width: 300px;
  }
  .informacoes-container {
    left: -60vh;
    bottom: -30vh;
    width: 250px;
    height: 350px;
    margin-bottom: 300px;
  }
  .modelos-grupo {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .img-text img {
    max-width: 390px;
    left: 0;
  }
  .img-svg {
    width: 250px;
  }
  .img-text {
    position: relative;
    top: -50px;
  }
  .informacoes-container {
    left: -30px;
    bottom: -240px;
    width: 180px;
    height: 300px;
    margin-bottom: 230px;
    overflow: hidden;
  }

  .informacoes-img {
    overflow: hidden;
  }
  .img-container {
    width: 40px;
  }
}
