body {
  font-family: arial, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.imagem-bg img {
  max-width: 100%;
  right: 100%;
  width: 100%;
}

/* .imagem-bg2 img {
  max-width: 100%;
  position: relative;
  width: 100%;
  top: 170px;
} */

.imagem-bg2 img {
  max-width: 100%;
  border-radius: 4px;
}

.imagem-respo img {
  max-width: 100%;
  right: 100%;
}

.res {
  position: relative;
}

.imagem-res img {
  position: absolute;
  width: 100%;
  top: 200px;
}

.conteudo {
  position: relative;
}

.introducao {
  position: relative;
  top: 5px;
}

.introducao-container {
  background: #141414;
  position: relative;
  max-width: 100%;
  display: grid;
  place-items: center;
}

.introducao p {
  color: #e7e7e7;
  margin-left: 10px;
  font-size: 1rem;
}

.introducao-container h2 {
  color: #f7f7f7;
  padding: 20px;
  font-size: 2rem;
}

.conjunto {
  text-align: left;
  margin: 0 auto;
  max-width: 500px;
  margin: 30px;
}

.texto {
  position: absolute;
  font-size: 45px;
  left: 40px;
  bottom: 70px;
  color: #ffffff;
}

.botao {
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  left: 40px;
  bottom: 60px;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
}

.botao-2 {
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  left: 45px;
  bottom: 60px;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .introducao-container h2 {
    font-size: 25px;
  }
  .introducao-container p {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .texto {
    font-size: 30px;
    bottom: 7rem;
    left: 1rem;
  }
  .botao {
    bottom: 6rem;
    left: 1rem;
    padding: 15px;
    font-size: 13px;
  }
  .botao-2 {
    bottom: 6rem;
    left: 1rem;
    padding: 15px;
    font-size: 13px;
  }
  .conteudo h1 {
    font-size: 35px;
    bottom: 290px;
    font-weight: 400;
  }
  .botao {
    display: block;
    margin-right: 30px;
    top: -180px;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
  }
  .botao-2 {
    display: block;
    margin-right: 30px;
    top: -175px;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .texto {
    font-size: 30px;
    bottom: 7rem;
    left: 1rem;
  }
  .botao {
    bottom: 6rem;
    left: 1rem;
    padding: 15px;
    font-size: 10px;
  }
  .botao-2 {
    bottom: 6rem;
    left: 1rem;
    padding: 15px;
    font-size: 10px;
  }
  .conteudo h1 {
    font-size: 25px;
  }
}

@media (max-width: 800px) {
  .imagem-bg {
    display: none;
  }
  .imagem-bg2 img {
    margin-top: -150px;
  }
  .introducao-container {
    gap: 150px;
    grid-template-columns: 1fr;
  }
  .introducao-container h2 {
    font-size: 25px;
  }
  .introducao-container p {
    font-size: 15px;
  }
  .introducao {
    top: 5px;
  }
}

@media (min-width: 800px) {
  .imagem-respo {
    display: none;
  }
  .imagem-bg2 img {
    top: 20px;
  }
}

@media (max-width: 650px) {
  .introducao {
    top: 40px;
  }
}

@media (max-width: 500px) {
  .imagem-bg2 {
    margin-top: 20px;
  }
  .introducao-container {
    top: 260px;
  }
  .introducao-container h2 {
    font-size: 25px;
  }
  .introducao-container p {
    font-size: 15px;
  }
  .introducao {
    top: -90px;
  }
}

@media (max-width: 430px) {
  .imagem-bg2 {
    margin-top: 22px;
  }
  .introducao-container h2 {
    padding: 10px;
    text-align: center;
  }
  .introducao-container {
    top: -80px;
  }
  .introducao {
    top: 85px;
  }
}

/* arrumar tamanho nas telas */
