body {
  margin: 0px;
  font-family: arial, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.imagem-bg img {
  max-width: 100%;
  right: 100%;
  width: 100%;
}

.imagem-respo img {
  max-width: 100%;
  right: 100%;
}

.conteudo {
  position: relative;
}

.texto {
  position: absolute;
  font-size: 45px;
  left: 40px;
  bottom: 70px;
  color: #ffffff;
}

.botao {
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  left: 40px;
  bottom: 60px;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
}

.botao-2 {
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  left: 45px;
  bottom: 60px;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 800px) {
  .texto {
    font-size: 30px;
    bottom: 7rem;
    left: 1rem;
  }
  .botao {
    bottom: 6rem;
    left: 1rem;
    padding: 15px;
    font-size: 13px;
  }
  .botao-2 {
    bottom: 6rem;
    left: 1rem;
    padding: 15px;
    font-size: 13px;
  }
  .conteudo h1 {
    font-size: 35px;
  }
}

@media (max-width: 350px) {
  .texto {
    font-size: 30px;
    bottom: 7rem;
    left: 1rem;
  }
  .botao {
    bottom: 6rem;
    left: 1rem;
    padding: 15px;
    font-size: 10px;
  }
  .botao-2 {
    bottom: 6rem;
    left: 1rem;
    padding: 15px;
    font-size: 10px;
  }
  .conteudo h1 {
    font-size: 25px;
  }
}

@media (max-width: 800px) {
  .imagem-bg {
    display: none;
  }
}

@media (min-width: 800px) {
  .imagem-respo {
    display: none;
  }
}
