.header-menu a {
  text-decoration: none;
  color: #7d7d7d;
  font-size: 18px;
  position: relative;
  padding: 10px 0px 10px; /*diminuir no responsivo */
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #7d7d7d;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

.header-bg {
  background-color: #ffffff;
  padding: 30px;
}

.header img {
  max-width: 100%;
  width: 90px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    font-size: 16px;
    position: relative;
    bottom: -15px;
  }
  .header {
    padding-top: 12px 16px;
  }
  .header img {
    width: 75px;
    position: absolute;
    top: 9px;
    right: 45%;
  }
  .header a::after {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header-menu {
    flex-wrap: wrap;
  }
  .header-menu a {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .header-menu a {
    font-size: 1rem;
  }
}

@media (max-width: 499px) {
  .header-menu {
    gap: 10px;
  }
  .header-menu a {
    font-size: 12px;
    left: 25px;
  }
  .header-bg {
    padding: 20px;
  }
  .header img {
    width: 50px;
    right: 43%;
  }
}

@media (max-width: 350px) {
  .header-menu {
    gap: 10px;
  }
  .header-menu a {
    font-size: 8px;
  }
  .header-bg {
    padding: 20px;
  }
  .header img {
    width: 55px;
  }
}
