.interior-bg {
  background: #141414;
  text-align: center;
  padding: 100px;
  margin-top: -20px;
}

.interior-texto p {
  color: #e7e7e7;
  text-align: left;
  margin: 0 auto;
  max-width: 1000px;
}

.interior-texto h2 {
  color: #f7f7f7;
  font-size: 60px;
  padding: 10px;
  text-align: left;
  margin: 0 auto;
  max-width: 1000px;
}

/* interior 2 */
.container-interior {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #141414;
}

.interior {
  color: #e7e7e7;
  font-weight: 200;
  margin: 30px;
  position: relative;
}

.interior-img img {
  max-width: 100%;
}

@media (max-width: 900px) {
  .container-interior {
    grid-template-columns: none;
  }
}

@media (max-width: 750px) {
  .interior-bg {
    padding: 30px;
    text-align: start;
  }
  .interior-texto h2 {
    font-size: 40px;
    font-weight: 200;
  }
}
