.footer-links {
  line-height: 30px;
  margin: 30px;
}

.footer-links a {
  text-decoration: none;
  color: #f7f7f7;
}

.direitos {
  color: #f7f7f7;
  text-align: left;
  margin: 30px;
}

.redes-sociais ul {
  display: flex;
  gap: 10px;
  margin: 30px;
  padding: 10px;
}

.container-interior {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #000;
}

@media (max-width: 900px) {
  .footer-links {
    content: '';
    display: block;
    border-bottom: 1px solid #ccc;
    padding-top: 0.5rem;
  }
  .container-interior {
    grid-template-columns: none;
  }
}
