.performace-container {
  background: #141414;
  position: relative;
  max-width: 100%;
  text-align: center;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.performace-container img {
  max-width: 100%;
  border-radius: 4px;
}

.performace {
  position: relative;
}

.performace-bg {
  /* grid-row: 1; */
  background-color: #141414;
  color: white;
}

@media (max-width: 800px) {
  .performace-container {
    grid-template-columns: 1fr;
  }
  .performace-bg {
    grid-row: auto;
  }
}

@media (max-width: 500px) {
  .performace {
    top: 160px;
  }
}

@media (max-width: 430px) {
  .performace {
    top: auto;
  }
}
